:root{
    --clr-green-primary: #1ed760;
    --clr-green-secondary: #1db954;
    --clr-black: #191414;
    --clr-gray-secondary: #191414;
    --clr-white: #fff;
    --clr-gray: #191414;
    --clr-gray-movile: #f3f3f3;
    --clr-gray-movile-secondary: #ececec;
}
